@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
--very-dark-blue: hsl(234, 12%, 34%);
--grayish-blue: hsl(229, 6%, 66%);
--very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--very-light-gray);
}

h1,
h2 {
  color: var(--very-dark-blue);
}

h1 span {
  font-weight: 200;
}

p {
  line-height: 1.8;
  color: var(--grayish-blue);
}

main {
  padding: 5rem 1rem;
}

main > section:first-child {
  text-align: center;
  margin-bottom: 2rem;
}

main > section:first-child h1 {
  margin-bottom: 1rem;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

main .cards section {
  background-color: var(--very-light-gray);
  box-shadow: 0 0 16px var(--cyan);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

main .cards section:first-child {
  border-top: 0.5rem solid var(--red);
}

main .cards section:nth-child(2) {
  border-top: 0.5rem solid var(--cyan);
}

main .cards section:nth-child(3) {
  border-top: 0.5rem solid var(--orange);
}

main .cards section:last-child {
  border-top: 0.5rem solid var(--blue);
}

main .cards section h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

main .cards section p {
  margin-bottom: 3rem;
}

main .cards section img {
  display: block;
  margin-left: auto;
}

.attribution {
    font-size: 14px;
    text-align: center;
    padding-bottom: 2rem;
}

  .attribution a {
    color: var(--blue);
}

@media (min-width: 768px) {
  main > section {
    max-width: 500px;
    margin: auto;
  }

  main > section:first-child h1 {
    font-size: 2rem;
  }

  main .cards {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  main .cards section {
    width: 400px;
  }

  main .cards section:nth-child(odd) {
    transform: translateY(50%);
  }
}